/* style.css */

:root {
    --retro-blue: #68C7C1;
    --retro-yellow: #FACA78;
    --retro-orange: #F57F5B;
    --retro-red: #DC5341;
    --retro-brown: #794A3A;
    --bg-light: #FFF5E1;
    --text-dark: #4A3F35;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--retro-blue);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: 100vh;
    padding: 1rem;
  }
  
  main {
    flex: 1;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--retro-blue);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: 100vh;
    padding: 1rem;
  }

  button {
    font-family: 'Press Start 2P', cursive;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-top: 50px;
  }
  header {
    background-color: var(--retro-yellow);
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
 
  .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center; 
  }

  .controls, .audio-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  button, select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--retro-red);
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover, select:hover {
    background-color: var(--retro-brown);
  }
  
footer {
  margin-top: 3rem;
  padding: 1rem;
  background-color: var(--retro-yellow);
  text-align: center;
  width: 100%;
  color: var(--retro-brown);
  border-top: 3px solid var(--retro-orange);
}
  
